body {
    background: url("../content/Witching\ Hour.jpg");
    color: rgb(255, 255, 255);
    font-family: 'Gilda Display', sans-serif;
    letter-spacing: .1rem;
    font-size: 1.5rem;
}
.container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 60px;
}
#but {
    height: 30px;
    width: 50px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
}
#but:hover,:focus {
    color: #ffffff;
    background: #008cff00;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  }
#ton:hover,:focus {
    color: #ffffff;
    background: #008cff00;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff,
                0 0 20px #008cff,
                0 0 50px #008cff,
                0 0 100px #008cff;
  }
#input {
    width: 234px;
    height: 50px;
    border-radius: 5px;
    border: solid;
    border-color: bisque;
    text-align: center;
    background: linear-gradient(to right, grey, rgb(81, 81, 81));
    font-weight: 800;
    font-size: 1rem;
    
}
#firstName {
    height: 50px;
    width: 15rem;
    border-radius: 5px;
}
#ton {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    border: solid;
    border-color: white;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    box-shadow: rgb(23, 23, 23) 4px 4px 4px 4px;
}
#lastName {
    height: 50px;
    width: 15rem;
    border-radius: 5px;
}
#age {
    height: 50px;
    width: 15rem;
    border-radius: 5px;
}
.wrapper {
    padding: 3rem;
    width: 15rem;
    height: 200px;
    background-image: url("../content/Selenium.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    box-shadow: rgb(0, 0, 0) 30px 30px 30px 0px;
}

.mb {
    margin-bottom: 1rem;
}
.card{
    background: linear-gradient(to right, grey, rgb(81, 81, 81));
    height: 80px;
    margin-top: 5px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    box-shadow: rgb(23, 23, 23) 4px 4px 4px 4px;
}

@import url('https://fonts.cdnfonts.com/css/gilda-display');